body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: aliceblue;
}
h1{
  font-size: 24px;
  color: #7b00ff;
  margin: 20px;
  
}
header{
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.second{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .second .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .second .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .second .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .second .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .second .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .second .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .second .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .second .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .second .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .second .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .second .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .second .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .second .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .second .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .second .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .second .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .second .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .second .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .second .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .second .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .second .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .second .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .second .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .second .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  



  .upcoming{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: rgb(0, 0, 0);
  }
  
  .upcoming .movies_box{
    width: 95%;
    margin: 0 auto;
  }
  
  .upcoming .movies_box h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  .upcoming .movies_box .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .upcoming .movies_box .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .upcoming .movies_box .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .upcoming .movies_box .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
  }
  
  .upcoming .movies_box .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .upcoming .movies_box .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .upcoming .movies_box .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .upcoming .movies_box .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .upcoming .movies_box .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .upcoming .movies_box .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .upcoming .movies_box .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .upcoming .movies_box .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .upcoming .movies_box .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .upcoming .movies_box .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .upcoming .movies_box .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .upcoming .movies_box .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .upcoming .movies_box .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .upcoming .movies_box .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .upcoming .movies_box .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  



  .show{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: #000000;
  }
  
  .show .tv_show{
    width: 95%;
    margin: 0 auto;
  }
  
  .show .tv_show h1{
    font-size: 20px;
    color: rgb(144, 0, 255);;
    margin-bottom: 20px;
  }
  
  .show .tv_show .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .show .tv_show .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .show .tv_show .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .show .tv_show .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
  }
  
  .show .tv_show .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .show .tv_show .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .show .tv_show .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .show .tv_show .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .show .tv_show .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .show .tv_show .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .show .tv_show .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .show .tv_show .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .show .tv_show .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .show .tv_show .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .show .tv_show .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .show .tv_show .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .show .tv_show .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .show .tv_show .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .show .tv_show .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .show .tv_show .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .show .tv_show .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .show .tv_show .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }




  .next{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .next .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .next .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .next .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .next .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .next .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .next .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .next .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .next .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .next .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .next .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .next .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .next .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .next .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .next .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .next .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .next .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .next .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .next .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .next .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .next .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .next .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .next .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .next .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .next .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }






  .fifth{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .fifth .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .fifth .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .fifth .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .fifth .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .fifth .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .fifth .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .fifth .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .fifth .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .fifth .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .fifth .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .fifth .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .fifth .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .fifth .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .fifth .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .fifth .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .fifth .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .fifth .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .fifth .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .fifth .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .fifth .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .fifth .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .fifth .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .fifth .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .fifth .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }






  .sixth{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .sixth .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .sixth .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .sixth .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sixth .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .sixth .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .sixth .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .sixth .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .sixth .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .sixth .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .sixth .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .sixth .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .sixth .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .sixth .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .sixth .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sixth .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .sixth .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .sixth .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .sixth .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .sixth .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .sixth .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .sixth .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .sixth .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .sixth .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .sixth .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }






  .seventh{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .seventh .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .seventh .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .seventh .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .seventh .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .seventh .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .seventh .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .seventh .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .seventh .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .seventh .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .seventh .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .seventh .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .seventh .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .seventh .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .seventh .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .seventh .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .seventh .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .seventh .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .seventh .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .seventh .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .seventh .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .seventh .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .seventh .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .seventh .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .seventh .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }






  .eight{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .eight .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .eight .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .eight .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .eight .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .eight .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .eight .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .eight .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .eight .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .eight .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .eight .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .eight .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .eight .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .eight .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .eight .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .eight .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .eight .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .eight .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .eight .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .eight .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .eight .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .eight .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .eight .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .eight .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .eight .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }








  .nine{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .nine .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .nine .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .nine .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nine .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .nine .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .nine .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .nine .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .nine .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .nine .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .nine .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .nine .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .nine .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .nine .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .nine .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .nine .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .nine .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .nine .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .nine .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .nine .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .nine .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .nine .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .nine .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .nine .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .nine .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }








  .ten{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .ten .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .ten .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .ten .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .ten .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .ten .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .ten .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .ten .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .ten .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .ten .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .ten .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .ten .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .ten .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .ten .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .ten .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ten .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .ten .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .ten .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .ten .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .ten .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .ten .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .ten .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .ten .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .ten .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .ten .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }









  .eleven{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .eleven .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .eleven .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .eleven .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .eleven .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .eleven .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .eleven .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .eleven .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .eleven .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .eleven .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .eleven .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .eleven .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .eleven .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .eleven .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .eleven .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .eleven .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .eleven .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .eleven .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .eleven .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .eleven .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .eleven .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .eleven .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .eleven .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .eleven .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .eleven .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }








  .twelve{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .twelve .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .twelve .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .twelve .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .twelve .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .twelve .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .twelve .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .twelve .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .twelve .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .twelve .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .twelve .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .twelve .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .twelve .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .twelve .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .twelve .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .twelve .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .twelve .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .twelve .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .twelve .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .twelve .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .twelve .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .twelve .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .twelve .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .twelve .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .twelve .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }











  .cc{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .cc .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .cc .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .cc .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cc .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .cc .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .cc .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .cc .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .cc .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .cc .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .cc .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .cc .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .cc .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .cc .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .cc .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cc .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .cc .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .cc .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .cc .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .cc .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .cc .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .cc .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .cc .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .cc .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .cc .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }










  .dd{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background: #000000;
  }
  
  .dd .latest{
    width: 95%;
    margin: 0 auto;
  }
  
  .dd .latest h1{
    font-size: 20px;
    color: rgb(144, 0, 255);
    margin-bottom: 20px;
  }
  
  .dd .latest .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dd .latest .box .card{
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .dd .latest .box .card .details{
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .dd .latest .box .card:hover .details{
    opacity: 1;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(0, 0, 0, 0.7));
  }
  
  .dd .latest .box .card .details .left{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .dd .latest .box .card:hover .details .left{
    opacity: 1;
    transform: translateX(0);
  }
  
  .dd .latest .box .card .details .left p.name{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .dd .latest .box .card .details .left .date_quality{
    display: flex;
    align-items: center;
  }
  
  .dd .latest .box .card .details .left .date_quality p.quality{
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #fbfcff;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  .dd .latest .box .card .details .left .date_quality p.date{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .dd .latest .box .card .details .left p.category{
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .dd .latest .box .card .details .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .dd .latest .box .card .details .left .info .rate{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .dd .latest .box .card .details .left .info .rate i{
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
  }
  
  .dd .latest .box .card .details .left .info .rate p{
    font-size: 12px;
  }
  
  .dd .latest .box .card .details .left .info .time{
    display: flex;
    align-items: center;
  }
  
  .dd .latest .box .card .details .left .info .time i{
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
  }
  
  .dd .latest .box .card .details .left .info .time p{
    font-size: 12px;
    margin-left: 5px;
  }
  
  .dd .latest .box .card .details .right{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
  }
  
  .dd .latest .box .card:hover .details .right{
    opacity: 1;
    transform: translateX(0);
  }
  
  .dd .latest .box .card .details .right i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    color: #282931;
    margin: 0 10px 8px 0;
  }
  
  .dd .latest .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }